{% extends 'profile/layout.twig' %}

{% block title %}{{ 'Change avatar'|trans() }}{% endblock %}

{% block style %}
    {{ parent() }}
    <style type="text/css">
        .avatar {
            width: 100px;
            height: 100px;
        }
    </style>
{% endblock %}

{% block content %}
    <img class="avatar" src="{{ app.user.avatar }}">

    <h4>{{ 'Upload avatar'|trans() }}</h4>
    <form action="{{ url('profile_avatar') }}" {{ form_enctype(form) }} method="post">
        {{ form_widget(form._token) }}
        {{ form_widget(form.file) }}
        <button class="primary" type="submit">{{ 'Upload'|trans() }}</button>
        {{ form_errors(form.file) }}
    </form>
{% endblock %}
