{% extends 'base.twig' %}

{% block title %}{{ 'Moderator Center'|trans() }} - {{ parent() }}{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('admin') }}">{{ 'ElfChat'|trans() }}</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('moderator_bans') }}">{{ 'Bans'|trans() }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('logout') }}">{{ 'Exit'|trans() }}</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                {{ message|trans() }}
            </div>
        {% endfor %}
        {% for message in app.session.flashBag.get('error') %}
            <div class="alert alert-error alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                {{ message|trans() }}
            </div>
        {% endfor %}
        {% for message in app.session.flashBag.get('info') %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                {{ message|trans() }}
            </div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            /**
             * Auto selecting of active menu item.
             */
            $('.navbar a').each(function () {
                var href = $(this).attr('href');
                if (href) {
                    var regex = new RegExp('^' + href, 'i');
                    if (regex.test(window.location.pathname)) {
                        $(this).parent().addClass('active');
                    }
                }
            });
        });
    </script>
{% endblock %}