{% extends 'admin/layout.twig' %}

{% block style %}
    {{ parent() }}
    <style type="text/css">
        #memoryUsage {
            width: 450px;
            height: 250px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="alert alert-info">
        {{ 'All system operational.'|trans() }}
    </div>
    <h3>{{ 'Memory Usage (in megabytes)'|trans() }}</h3>
    <div id="memoryUsage"></div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('/lib/flot/jquery.flot.min.js') }}"></script>
    <script>
        $.getJSON('http://{{ app.config.get('server.host') }}:{{ app.config.get('server.port') }}/memory_usage?callback=?', function (data) {
            data = data.map(function (value, i) {
                return [i, value];
            });
            var memoryUsage = $.plot('#memoryUsage', [
                {
                    color: '#adfe2f',
                    shadowSize: 0,
                    data: data,
                    lines: {
                        fill: true
                    }
                }
            ], {
                xaxis: {
                    show: false
                }
            });
        });
    </script>
{% endblock %}