{% extends 'base.twig' %}

{% block title %}{{ 'ElfChat Admin'|trans() }}{% endblock %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/common/form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin/table.css') }}">
{% endblock style %}

{% block body %}
    <div class="navbar">
        <a class="brand" href="{{ path('admin') }}">{{ 'ElfChat'|trans() }}</a>
        <a href="{{ path('admin_config') }}">{{ 'Configuration'|trans() }}</a>
        <a href="{{ path('admin_users') }}">{{ 'Users'|trans() }}</a>
        <a href="{{ path('admin_themes') }}">{{ 'Themes'|trans() }}</a>
        <a href="{{ path('admin_plugins') }}">{{ 'Plugins'|trans() }}</a>

        <a class="pull-right" href="{{ path('logout') }}">{{ 'Exit'|trans() }}</a>
    </div>

    <div class="content">
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">{{ message|trans() }}</div>
        {% endfor %}
        {% for message in app.session.flashBag.get('error') %}
            <div class="alert alert-error">{{ message|trans() }}</div>
        {% endfor %}
        {% for message in app.session.flashBag.get('info') %}
            <div class="alert alert-info">{{ message|trans() }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            /**
             * Auto selecting of active menu item.
             */
            $('.navbar a').each(function () {
                var href = $(this).attr('href');
                if (href) {
                    var regex = new RegExp('^' + href, 'i');
                    if (regex.test(window.location.pathname)) {
                        $(this).addClass('active');
                    }
                }
            });
        });
    </script>
{% endblock %}