{% extends 'users/layout.twig' %}

{% block content %}
    <form class="form" action="{{ path('login') }}" method="post">
        {{ form_widget(form._token) }}

        <h1>{{ 'Login'|trans() }}</h1>

        {% if error is not empty %}
            <div class="alert alert-danger">
                {{ error|trans({}) }}
            </div>
        {% endif %}

        <div class="form-group">
            <label for="username">{{ 'Name'|trans({}) }}</label>
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="password">{{ 'Password'|trans() }}</label>
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="checkbox">
            <label>
                {{ form_widget(form.remember_me) }}
                {{ 'Remember me'|trans() }}
            </label>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">{{ 'Login'|trans() }}</button>
        <a href="{{ url('register') }}" class="btn btn-lg btn-default">{{ 'Register'|trans() }}</a>
    </form>

    <form class="form" action="{{ path('login') }}" method="post">
        {{ form_widget(guestForm._token) }}

        <h1>{{ 'Guest'|trans() }}</h1>

        <div class="form-group">
            <label for="guestname">{{ 'Name'|trans({}) }}</label>
            {{ form_widget(guestForm.guestname, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button class="btn btn-lg btn-primary" type="submit">{{ 'Login'|trans() }}</button>
    </form>
{% endblock %}