{% extends 'admin/layout.twig' %}

{% set title = 'Example Plugin Configuration'|trans() %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h3>{{ title }}</h3>
    <form action="" {{ form_enctype(form) }} method="post" class="form-horizontal">
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">{{ 'Save'|trans() }}</button>
    </form>
{% endblock %}