<div id="bbcode" class="popover top" style="top: 0; left: 0; display: none;">
    <div class="arrow"></div>
    <div class="btn-group-vertical">
        <a class="btn btn-link" data-action="bbcode" data-bbcode="[b][/b]">{{ 'Bolded text'|trans() }}</a>
        <a class="btn btn-link" data-action="bbcode" data-bbcode="[i][/i]">{{ 'Italicized text'|trans() }}</a>
        <a class="btn btn-link" data-action="bbcode" data-bbcode="[s][/s]">{{ 'Striked text'|trans() }}</a>
        <a class="btn btn-link" data-action="bbcode" data-bbcode="[color=green][/color]">{{ 'Text color'|trans() }}</a>
        <a class="btn btn-link" data-action="bbcode" data-bbcode="[bg=yellow][/bg]">{{ 'Background color'|trans() }}</a>
    </div>
</div>