<div id="[id]" class="popover right profile" style="top: 0; left: 0; display: none;">
    <div class="arrow"></div>
    <h3 class="popover-title">
        [user.name]
    </h3>

    <div class="popover-side">
        <img class="avatar" src="[user.avatar]">
    </div>
    <div class="popover-content">
        <div class="btn-group">
            <button class="btn btn-default" data-private="[user.id]"><i class="icon icon-send"></i>{{ 'Private'|trans() }}</button>
            <button class="btn btn-default" data-ignore="[user.id]">{{ 'Ignore'|trans() }}</button>
        </div>
        {% if app.isModerator() %}
            <div>
                <a class="btn btn-default" href="{{ url('add_ban') }}?id=[user.id]"
                   target="_blank">{{ 'Ban'|trans() }}</a>
                <!--<a class="button" href="{{ '' }}?id=[user.id]"
                       target="_blank">{{ 'Quiet'|trans() }}</a>-->
            </div>
        {% endif %}
    </div>
</div>