{% extends 'users/layout.twig' %}
{% form_theme form 'users/form_theme.twig' %}
{% trans_default_domain 'users' %}

{% block content %}
    <form class="form" action="{{ url('register') }}" {{ form_enctype(form) }} method="POST">
        <h1>{{ 'title.register'|trans() }}</h1>
        {{ form_widget(form) }}
        <button class="btn btn-large btn-primary" type="submit">{{ 'button.register'|trans() }}</button>
    </form>
{% endblock %}