{% extends 'base.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/chat.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('icons/css/icons.css') }}">
    {% if app.config.get('mobile_enable') %}
        <link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 320px) and (max-device-width: 480px)" href="{{ asset('css/mobile.css') }}">
    {% endif %}
{% endblock style %}

{% block body %}
    <div class="box">
        <header>
            <button class="btn btn-default button-show-userlist" data-action="show-users"><i class="icon-menu"></i></button>
            <span class="title">
                {{ app.config.get('chat_title') }}
            </span>
            <div class="buttons-right">
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle button-settings" data-toggle="dropdown"><i class="icon-config"></i> {{ 'Settings'|trans() }}</button>
                    {% include 'chat/menu/settings.twig' %}
                </div>
            </div>
        </header>

        <aside id="users">
        </aside>

        <div class="chat" id="chat"></div>

        <footer>
            <div class="buttons">
                <div class="buttons-other">
                    {% block buttons %}
                    <button class="btn btn-default" data-popover="emotions"><i class="icon-emotion"></i> {{ 'Emotions'|trans() }}</button>
                    <button class="btn btn-default" data-popover="bbcode">{{ 'BBCode'|trans() }}</button>
                    {% endblock %}
                </div>
                <div class="buttons-send">
                    <div id="privateGroup" class="btn-group" style="display: none">
                        <button class="btn btn-default" id="private" data-action="send"></button><button class="btn btn-default" data-action="close">✘</button>
                    </div>
                    <button class="btn btn-default btn-primary" id="send" class="primary" data-action="send"><i class="icon-send"></i> {{ 'Send'|trans() }}</button>
                </div>
            </div>

            <textarea class="form-control" id="message" tabindex="1"></textarea>
        </footer>
    </div>

    <div class="copyright">
        {% block copyright %}
            &copy; 2014 <a href="http://elfchat.net" target="_blank">ElfChat</a> {{ app.version }}
        {% endblock %}
    </div>
{% endblock body %}

{% block script %}
    {{ parent() }}
    {% include 'chat/script.twig' %}
{% endblock script %}