{% extends 'base.twig' %}

{% block style %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/chat.css') }}">
{% endblock style %}

{% block body %}
    <div class="box">
        <header>
            ElfChat
            <div class="buttons">
                <!--<a class="button" target="_blank" href="#">{{ 'Archive'|trans() }}</a>-->
                <button data-popover="settings">{{ 'Settings'|trans() }}</button>
            </div>
        </header>

        <aside id="users">
        </aside>

        <div class="chat" id="chat"></div>

        <footer>
            <div class="buttons">
                <button data-popover="emotions">{{ 'Emotions'|trans() }}</button>
                <button data-popover="bbcode">{{ 'BBCode'|trans() }}</button>
                <div class="send">
                    <div id="privateGroup" class="button-group" style="display: none">
                        <button id="private" data-action="send"></button><button data-action="close">✘</button>
                    </div>
                    <button id="send" class="primary" data-action="send">{{ 'Send'|trans() }}</button>
                </div>
            </div>

            <textarea id="message" tabindex="1"></textarea>
        </footer>
    </div>

    <div class="copyright">
        &copy; 2014 <a href="http://elfchat.net" target="_blank">ElfChat</a> {{ app.version }}
    </div>
{% endblock body %}

{% block script %}
    {{ parent() }}
    {% include 'chat/script.twig' %}
{% endblock script %}