{% extends 'base.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/chat.css') }}">
{% endblock style %}

{% block body %}
    <div class="box">
        <header>
            ElfChat
            <div class="buttons">
                <button data-popover="settings">{{ 'Settings'|trans() }}</button>
            </div>
        </header>

        <aside id="users">
        </aside>

        <div class="chat" id="chat"></div>

        <footer>
            <div class="buttons">
                <button data-popover="emotions">{{ 'Emotions'|trans() }}</button>
                <div class="send">
                    <button class="primary" data-action="send">{{ 'Send'|trans() }}</button>
                    {{ 'to'|trans() }}
                    <button data-action="send">{{ 'Elfet '|trans() }}</button>
                </div>
            </div>

            <textarea id="message"></textarea>
        </footer>
    </div>

    <div class="copyright">
        &copy; 2014 <a href="http://elfchat.net" target="_blank">ElfChat</a> {{ app.version }}
    </div>
{% endblock body %}

{% block script %}
    {{ parent() }}
    {% include 'chat/script.twig' %}
{% endblock script %}