{% extends 'admin/layout.twig' %}

{% set title = 'Delete user "%name%"?'|trans()|replace({'%name%': user.name}) %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ title }}</div>
        <div class="panel-body">
            <form action="" {{ form_enctype(form) }} method="post" class="form-horizontal">
                {{ form_widget(form._token) }}
                {{ form_widget(form.delete, {'attr': {'class': 'btn btn-danger' }}) }}
                <a class="btn btn-default" href="{{ path('admin_users') }}">{{ 'Cancel'|trans() }}</a>
            </form>
        </div>
    </div>
{% endblock %}