{% extends 'admin/layout.twig' %}
{% trans_default_domain 'admin' %}
{% form_theme form 'admin/form_theme.twig' %}
{% set title = 'Delete user "%name%"?'|trans()|replace({'%name%': user.name}) %}

{% block title %}
    {{ title }} - {{ parent() }}
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="" {{ form_enctype(form) }} method="post">
        {{ form_widget(form._token) }}
        <fieldset>
            <legend>{{ title }}</legend>
            <div class="form-actions">
                {{ form_widget(form.delete) }}
                <a href="{{ path('admin_users') }}" class="btn" type="reset">{{ 'Cancel'|trans() }}</a>
            </div>
        </fieldset>
    </form>
{% endblock %}