{% extends 'admin/layout.twig' %}

{% set title = 'Edit user %name%'|trans()|replace({'%name%': user.name}) %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <form class="form" action="" {{ form_enctype(form) }} method="post">
        {{ form_widget(form) }}
        <div class="actions">
            <button class="primary" type="submit">{{ 'Save'|trans() }}</button>
            <a class="button" href="{{ path('admin_users') }}">{{ 'Cancel'|trans() }}</a>
        </div>
    </form>
{% endblock %}