{% extends 'admin/layout.twig' %}
{% form_theme form 'form.twig' %}

{% set title = 'Edit user %name%'|trans()|replace({'%name%': user.name}) %}

{% block title %}
    {{ title }} - {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <form class="form-horizontal" action="" {{ form_enctype(form) }} method="post">
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">{{ 'Save'|trans() }}</button>
        <a href="{{ path('admin_users') }}" class="btn" type="reset">{{ 'Cancel'|trans() }}</a>
    </form>
{% endblock %}