{% extends 'admin/layout.twig' %}

{% block title %}{{ 'Users'|trans() }} - {{ parent() }}{% endblock %}

{% block style %}
    {{ parent() }}
    <style type="text/css">
        .avatar {
            width: 32px;
            height: 32px;
        }
    </style>
{% endblock %}

{% set roles = {'ROLE_GUEST': 'Guest',
'ROLE_USER': 'User',
'ROLE_MODERATOR': 'Moderator',
'ROLE_ADMIN': 'Admin'} %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ 'ID'|trans() }}</th>
            <th>{{ 'Name'|trans() }}</th>
            <th>{{ 'Email'|trans() }}</th>
            <th>{{ 'Role'|trans() }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>
                    <img src="{{ user.avatar }}" class="avatar img-thumbnail">
                    <span>{{ user.name }}</span>
                </td>
                <td>{{ user.email }}</td>
                <td>{{ roles[user.role]|trans() }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('admin_users_edit', {'id': user.id}) }}" class="btn btn-default">{{ 'Edit'|trans() }}</a>
                        <a href="{{ path('admin_users_delete', {'id': user.id}) }}" class="btn btn-danger">{{ 'Delete'|trans() }}</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}