{% extends 'admin/layout.twig' %}

{% block title %}{{ 'Users'|trans() }}{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ 'ID'|trans() }}</th>
            <th>{{ 'Name'|trans() }}</th>
            <th>{{ 'Email'|trans() }}</th>
            <th>{{ 'Role'|trans() }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>
                    <img src="{{ user.avatar }}" class="avatar">
                    <span>{{ user.name }}</span>
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{{ path('admin_users_edit', {'id': user.id}) }}" class="button">{{ 'Edit'|trans() }}</a>
                    <a href="{{ path('admin_users_delete', {'id': user.id}) }}" class="button">{{ 'Delete'|trans() }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}