<!doctype html>
<html{{ app.config.get('mobile_enable') ? ' class="mobile"' : '' }}>
<head>
    <title>{% block title %}ElfChat{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/common/common.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/common/popover.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/common/button.css') }}">
    {% endblock %}
    <script src="{{ asset('lib/vendor/jquery/jquery.min.js') }}"></script>
</head>
<body>
{% block body %}
{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>