<!doctype html>
<html{% block html_attr %}{{ app.config.get('mobile_enable') ? ' class="mobile"' : '' }}{% endblock %}>
<head>
    {% block head %}
        <title>{% block title %}{{ app.config.get('chat_title') }}{% endblock %}</title>
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            {% if app.config.get('mobile_enable') %}
                <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
            {% endif %}
        {% endblock %}
        {% block style %}
            <link rel="stylesheet" type="text/css" href="{{ css('bootstrap/css/bootstrap.min.css') }}">
        {% endblock %}
    {% endblock %}
    <script src="{{ asset('lib/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
</head>
<body>
{% block body %}
{% endblock %}

{% block script %}
{% endblock %}
</body>
</html>