{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        <div class="col-lg-10">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input class="form-control"
               type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block widget_attributes %}
    {% spaceless %}
        class="form-control"  id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label class="col-lg-2 control-label" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{% block user_widget %}
    <link rel="stylesheet" href="{{ asset('lib/hack/typeahead.css') }}" type="text/css">
    <script src="{{ asset('lib/vendor/typeahead.js/dist/typeahead.min.js') }}"></script>
    <script src="{{ asset('lib/vendor/mustache/mustache.js') }}"></script>
    <script type="text/html" id="view_user_widget">
        <p>
            <img src="[avatar]" style="max-width: 32px; max-height: 32px; min-height: 32px; min-width: 32px;">&nbsp;
            <strong>[name]</strong> (id:[id])
        </p>
    </script>

    {{ block('form_widget_simple') }}

    <script>
        Mustache.tags = ['[', ']'];
        $(function () {
            $('#{{ id }}').typeahead({
                name: 'users',
                valueKey: 'name',
                remote: '{{ url('query_users') }}?query=%QUERY',
                template: Mustache.compile($('#view_user_widget').html())
            }).on('typeahead:selected', function (event, data) {

                    });
        });
    </script>
{% endblock %}


{% block chosen_widget %}
    {{ block('choice_widget') }}
    <link rel="stylesheet" href="{{ asset('lib/chosen/chosen.min.css') }}" type="text/css">
    <script src="{{ asset('lib/chosen/chosen.jquery.min.js') }}"></script>
    <script>
        $(function () {
            $('#{{ id }}').chosen();
        });
    </script>
{% endblock %}