{% extends 'admin/layout.twig' %}

{% block title %}{{ 'Themes'|trans() }} - {{ parent() }}{% endblock %}

{% block style %}
    {{ parent() }}
    <style type="text/css">
        .thumbnail {
            width: 500px;
            min-height: 200px;
        }

        .panel-inline {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}
    {% for theme in themes %}
        <div class="panel panel-default panel-inline">
            <div class="panel-heading">
                <h2 class="panel-title">{{ theme.title|trans() }}</h2>
            </div>
            <div class="panel-body">
                <img class="img-thumbnail thumbnail" src="{{ theme.getWebPath() }}/{{ theme.thumbnail }}">
            </div>
            <div class="panel-footer">
                {% if theme.checkRequirements() %}
                    {% if theme.name == app.config.get('theme.name') %}
                        <a class="btn btn-default" disabled="disabled" href="">
                            {{ 'Install theme'|trans() }}
                        </a>
                    {% else %}
                        <a class="btn btn-primary" href="{{ url('admin_theme_install', {'name': theme.name}) }}">
                            {{ 'Install theme'|trans() }}
                        </a>
                    {% endif %}
                {% else %}
                    <strong>{{ 'Can not install this theme, as it does not match chat requirements.'|trans() }}</strong>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}