{% extends 'profile/layout.twig' %}
{% trans_default_domain 'profile' %}

{% block style %}
    {{ parent() }}
    <style type="text/css">
        .avatar {
            width: 100px;
            height: 100px;
        }
    </style>
{% endblock %}

{% block content %}
    <form class="form" action="{{ url('profile_avatar') }}" {{ form_enctype(form) }} method="post">
        {{ form_widget(form._token) }}
        <div class="row">
            <div class="col-md-2">
                <img class="avatar" src="{{ app.user.avatar }}">
            </div>
            <div class="col-md-10">
                <h4>{{ 'new_avatar'|trans() }}</h4>
                {{ form_widget(form.file) }}
                <br>
                <button class="btn btn-success" type="submit">{{ 'button.avatar'|trans() }}</button>
                {{ form_errors(form) }}
            </div>
        </div>
    </form>
{% endblock %}
