{% extends 'base.twig' %}
{% trans_default_domain 'profile' %}

{% block title %}{{ 'profile.title'|trans() }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css">
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css">
{% endblock style %}

{% block body %}
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="{{ path('profile_avatar') }}">{{ 'menu.avatar'|trans() }}</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">{{ message|trans() }}</div>
        {% endfor %}
        {% for message in app.session.flashBag.get('error') %}
            <div class="alert alert-error">{{ message|trans() }}</div>
        {% endfor %}
        {% for message in app.session.flashBag.get('info') %}
            <div class="alert alert-info">{{ message|trans() }}</div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        /**
         * Auto selecting of active menu item.
         */
        $(function () {
            $('a[href^="' + window.location.pathname + '"]').parent().addClass('active');
        });
    </script>
{% endblock %}