{% extends 'moderator/layout.twig' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'Active'|trans() }}</th>
            <th>{{ 'User'|trans() }}</th>
            <th>{{ 'IP'|trans() }}</th>
            <th>{{ 'How long'|trans() }}</th>
            <th>{{ 'Created'|trans() }}</th>
            <th>{{ 'Moderator'|trans() }}</th>
            <th>{{ 'Reason'|trans() }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for ban in bans %}
            <tr>
                <td>
                    {% if ban.isActive() %}
                        <i class="glyphicon glyphicon-ok-circle"></i>
                    {% endif %}
                </td>
                <td>{{ ban.user is null ? 'No user'|trans() : ban.user.name }}</td>
                <td>{{ ban.ip }}</td>
                <td>{{ ban.howLong|replace(howLongChoices)|trans() }}</td>
                <td>{{ ban.created|date('d.m.Y H:i:s') }}</td>
                <td>{{ ban.author.name }}</td>
                <td>{{ ban.reason }}</td>
                <td>
                    <a href="{{ url('moderator_remove_ban', {'id': ban.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}